body{
    width: 800px;
    margin: auto;
    font-size: 15pt;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    letter-spacing:2px;
}

body > p{
    text-indent: 2em;
}
h3, h4{
    padding: 1em;
}
