body{
    margin: auto;
    font-size: 18pt;
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px;
    letter-spacing:2px;
    padding: 0;
}

h3, h4{
    margin: 10px;
}

pre{
    text-indent: 0em;
    width: 90%;
    margin: auto;
    font-size: 12pt;
    border: 1px solid green;
    padding: 4px;
}
#slide_orgin{
    display: none;
}

body > div{
    /*border: 1px solid green; */
    overflow-y: hidden;
    padding: 0 1em 0 1em;
    margin: auto;
}

p{
    text-indent: 2em;
}
img{
    max-width: 95%;
}


.slide{
    position: relative;
    page-break-after: always;
    border: 1px solid green;
}

@page {
    margin: 0 0 0 0;    /* Top margin on first page 10cm */
    /*lsize: A3; */
    size: 10in 10in;

}

div.newpage{
    page-break-after: always;
}


/* print only */
@media print {
    /* defaults  for screen */
    /*
   .printEl {
        width: 15in;
        height: 15in;
    }
    */
    #print-head,
    #print-foot {
        display: none;
    }

    body, html{
        width: 10in;
        height: 10in;
        padding: 0;
        margin: 0;
    }



	

	

	@page :right {

	  margin-left: 0cm;

	}


    h3:first-child {
        page-break-before: avoid;
        counter-reset: page;
    }

    #print-head {
        display: block;
        position: fixed;
        top: 0pt;
        left:0pt;
        right: 0pt;

        font-size: 200%;
        text-align: center;
    }

    #print-foot {
        display: block;
        position: fixed;
        bottom: 0pt;
        right: 0pt;

        font-size: 200%;
    }

    #print-foot:after {
        content: counter(page);
        counter-increment: page;
    }
    pre{
        background: grey;
        padding: 6pt;
        padding-left: 2em;

    }

} /* end print only */


h2
{
    font-size:40pt;
    color:black;
    margin:1em;
    margin-top:3em;
    text-align: center;
}


h3
{
    font-size:20pt;
    color:black;
    counter-increment: counter_section;
    counter-reset:counter_subsection;
    margin-top:3em;
 /*o   border-bottom: solid 4px  green;
  * */
    page-break-after: avoid;
}
h3:first-of-type
{
    margin-top:1em;
}
h4
{
    margin-top:3em;
    font-size:15pt;
    color:black;
    counter-reset:counter_subsubsection;
    counter-increment: counter_subsection;
}
h4:first-of-type{
    margin-top:1em;
}
h5
{
    font-size:12pt;
    counter-increment: counter_subsubsection;
    margin-top:3em;
}
h5:first-of-type{
    margin-top:1em;
}
p{
    text-indent:2em;
    margin-top:1em;
    margin:1em;
    line-height:200%;
}

/*
h3:before
{
    content:counter(counter_section) '. ';
}
h4:before
{
    content:counter(counter_section)'.'counter(counter_subsection) '. ';
}
h5:before
{
    content:counter(counter_section)'.'
    counter(counter_subsection)'.'
    counter(counter_subsubsection)'. ';
}
*/
